<fieldset>
  <label for="user_login">Login</label>
  <%= f.text_field 'login' %> <br/>

  <label for="user_email">Email</label>
  <%= f.text_field 'email' %> <br/>
  
  <label for="user_activated">Activated</label>
  <%= f.check_box 'activated' %> <br/>
</fieldset>

